/* .info-card-container {
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
} */

.ghd-card {
  height: auto;

  width: 100%;

  overflow: visible;

  border-width: 1px;
  border-radius: 0.15rem;
  border-color: rgba(63, 79, 88, 0.3);
  backdrop-filter: blur(2px);

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  justify-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 1rem;
}

.ghd-logo {
  min-width: 120px;
  max-width: 120px;

  border-radius: 0.15rem;

  align-self: flex-start;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ghd-logo img {
  border-radius: 0.15rem;

  opacity: 0.8;
}

@media (max-width: 1023px) {
  .ghd-logo {
    min-width: 100px;
    max-width: 100px;
  }
}

.ghd-data {
  min-height: 100%;
  height: fit-content;
  width: 100%;

  align-self: flex-start;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ghd-data_B {
  padding-top: 20px;
}

.ghd-data__1 {
  font-weight: 600;
  font-size: large;
}

.ghd-data__2 {
  color: rgb(184, 134, 11);
  opacity: 0.8;
  font-weight: 600;
}

.ghd-data__2:hover {
  color: #38bdf8;
  font-weight: 500;
}

.ghd-data__3 {
  color: rgb(124, 165, 42);
  opacity: 0.8;
}

.ghd-data__4 {
  opacity: 0.5;
  font-style: italic;
}

@media (max-width: 479px) {
  .ghd-card {
    display: block;
  }
  .ghd-logo {
    min-width: 70px;
    max-width: 70px;

    border-radius: 0.15rem;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ghd-data {
    min-height: 100%;
    height: fit-content;
    width: 100%;

    padding-top: 15px;

    align-self: flex-start;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
