.about-section {
  border-width: 1px;
  border-radius: 0.75rem;
  border-color: rgba(42, 69, 85, 0.5);

  backdrop-filter: blur(2px);
  background-color: rgba(17, 17, 17, 0.3);

  height: 500px;

  overflow: hidden;

  max-width: 1200px;
  width: 70%;

  margin-bottom: 8rem;

  align-self: center;

  display: flex;
  align-items: center;
  justify-content: space-around;

  &__left {
    height: 100%;
    width: 300px;

    border-right-width: 1px;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-color: rgba(42, 69, 85, 0.5);
    background-color: rgba(15, 15, 15, 0.3);

    display: flex;
    align-items: center;

    position: relative;
  }
  &__right {
    height: 100%;
    width: 100%;
    overflow: hidden;

    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 1535px) {
  .about-section {
    width: 80%;
  }
}

@media (max-width: 1279px) {
  .about-section {
    /* margin-top: 8rem; */
    /* padding-top: 8rem; */
    width: 90%;

    &__left {
      width: 250px;
    }
  }
}
@media (max-width: 1023px) {
  .about-section {
    /* margin-top: 8rem; */
    width: 95%;
  }
}
@media (max-width: 767px) {
  .about-section {
    height: 800px;

    display: block;
    flex-wrap: wrap;
    flex-direction: column;

    &__left {
      height: 300px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right-width: 0px;
      border-bottom-width: 1px;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      border-bottom-left-radius: 0rem;
      border-color: rgba(42, 69, 85, 0.5);
    }

    &__right {
      height: 500px;
      width: 100%;
      border-bottom-right-radius: 0.75rem;
      border-bottom-left-radius: 0.75rem;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

@media (max-width: 639px) {
}

@media (max-width: 479px) {
}

/* ABOUT BUTTONS */
.about-buttons-sidemenu {
  width: 100%;
}

.class-javier {
  height: 64px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 2.5rem;
  padding-right: 2.5rem;

  font-size: 1.25rem;
  line-height: 1.75rem;

  &__class {
    color: #0fe468;
  }
  &__javier {
    color: rgb(245 158 11 / 1);
    color: #78f3e9;
  }
  &__parl {
    color: #d6b007;
  }
  &__human {
    color: #d6e7ff;
  }
  &__parr {
    color: #d6b007;
  }
}

.class-javier-methods {
  width: 100%;
  display: grid;

  font-size: 1.125rem;
  line-height: 1.75rem;
}

.about-selfs {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1535px) {
  @media (max-width: 1279px) {
    .class-javier {
      padding-left: 1rem;
    }

    .about-selfs {
      padding-left: 2rem;
    }
  }
}
